/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/assets/material-assets/assets/css/material-dashboard.css
public/assets/material-assets/assets/css/material-dashboard.css.map
public/assets/material-assets/assets/css/material-dashboard.min.css
public/assets/material-assets/assets/css/material-dashboard-rtl.css
public/assets/material-assets/assets/demo/demo.css
public/assets/material-assets/assets/demo/demo.js
public/assets/material-assets/assets/img/apple-icon.png
public/assets/material-assets/assets/img/bg2.jpg
public/assets/material-assets/assets/img/city.jpg
public/assets/material-assets/assets/img/city-profile.jpg
public/assets/material-assets/assets/img/cover.jpg
public/assets/material-assets/assets/img/favicon.png
public/assets/material-assets/assets/img/mask.png
public/assets/material-assets/assets/img/new_logo.png
public/assets/material-assets/assets/img/sidebar-1.jpg
public/assets/material-assets/assets/img/sidebar-2.jpg
public/assets/material-assets/assets/img/sidebar-3.jpg
public/assets/material-assets/assets/img/sidebar-4.jpg
public/assets/material-assets/assets/img/faces/avatar.jpg
public/assets/material-assets/assets/img/faces/card-profile1-square.jpg
public/assets/material-assets/assets/img/faces/card-profile2-square.jpg
public/assets/material-assets/assets/img/faces/marc.jpg
public/assets/material-assets/assets/js/material-dashboard.js
public/assets/material-assets/assets/js/material-dashboard.js.map
public/assets/material-assets/assets/js/material-dashboard.min.js
public/assets/material-assets/assets/js/core/bootstrap-material-design.min.js
public/assets/material-assets/assets/js/core/jquery.min.js
public/assets/material-assets/assets/js/core/popper.min.js
public/assets/material-assets/assets/js/plugins/arrive.min.js
public/assets/material-assets/assets/js/plugins/bootstrap-datetimepicker.min.js
public/assets/material-assets/assets/js/plugins/bootstrap-notify.js
public/assets/material-assets/assets/js/plugins/bootstrap-selectpicker.js
public/assets/material-assets/assets/js/plugins/bootstrap-tagsinput.js
public/assets/material-assets/assets/js/plugins/chartist.min.js
public/assets/material-assets/assets/js/plugins/fullcalendar.min.js
public/assets/material-assets/assets/js/plugins/jasny-bootstrap.min.js
public/assets/material-assets/assets/js/plugins/jquery.bootstrap-wizard.js
public/assets/material-assets/assets/js/plugins/jquery.dataTables.min.js
public/assets/material-assets/assets/js/plugins/jquery.tagsinput.js
public/assets/material-assets/assets/js/plugins/jquery.validate.min.js
public/assets/material-assets/assets/js/plugins/jquery-jvectormap.js
public/assets/material-assets/assets/js/plugins/moment.min.js
public/assets/material-assets/assets/js/plugins/nouislider.min.js
public/assets/material-assets/assets/js/plugins/perfect-scrollbar.jquery.min.js
public/assets/material-assets/assets/js/plugins/sweetalert2.js
public/assets/material-assets/assets/scss/material-dashboard.scss
public/assets/material-assets/assets/scss/material-dashboard/_alerts.scss
public/assets/material-assets/assets/scss/material-dashboard/_buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/_cards.scss
public/assets/material-assets/assets/scss/material-dashboard/_checkboxes.scss
public/assets/material-assets/assets/scss/material-dashboard/_core-bootstrap.scss
public/assets/material-assets/assets/scss/material-dashboard/_dropdown.scss
public/assets/material-assets/assets/scss/material-dashboard/_example-pages.scss
public/assets/material-assets/assets/scss/material-dashboard/_fixed-plugin.scss
public/assets/material-assets/assets/scss/material-dashboard/_footers.scss
public/assets/material-assets/assets/scss/material-dashboard/_forms.scss
public/assets/material-assets/assets/scss/material-dashboard/_headers.scss
public/assets/material-assets/assets/scss/material-dashboard/_images.scss
public/assets/material-assets/assets/scss/material-dashboard/_info-areas.scss
public/assets/material-assets/assets/scss/material-dashboard/_input-group.scss
public/assets/material-assets/assets/scss/material-dashboard/_misc.scss
public/assets/material-assets/assets/scss/material-dashboard/_mixins.scss
public/assets/material-assets/assets/scss/material-dashboard/_navbar.scss
public/assets/material-assets/assets/scss/material-dashboard/_popover.scss
public/assets/material-assets/assets/scss/material-dashboard/_popups.scss
public/assets/material-assets/assets/scss/material-dashboard/_radios.scss
public/assets/material-assets/assets/scss/material-dashboard/_responsive.scss
public/assets/material-assets/assets/scss/material-dashboard/_ripples.scss
public/assets/material-assets/assets/scss/material-dashboard/_sidebar-and-main-panel.scss
public/assets/material-assets/assets/scss/material-dashboard/_social-buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/_tables.scss
public/assets/material-assets/assets/scss/material-dashboard/_tabs.scss
public/assets/material-assets/assets/scss/material-dashboard/_togglebutton.scss
public/assets/material-assets/assets/scss/material-dashboard/_tooltip.scss
public/assets/material-assets/assets/scss/material-dashboard/_type.scss
public/assets/material-assets/assets/scss/material-dashboard/_variables.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_alert.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_badge.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_breadcrumb.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_button-group.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_card.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_carousel.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_close.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_code.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_custom-forms.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_dropdown.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_forms.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_functions.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_grid.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_images.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_input-group.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_jumbotron.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_list-group.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_media.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_mixins.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_modal.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_nav.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_navbar.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_pagination.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_popover.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_print.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_progress.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_reboot.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_root.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_tables.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_tooltip.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_transitions.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_type.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_utilities.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/_variables.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/bootstrap.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/bootstrap-grid.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/bootstrap-reboot.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_alert.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_background-variant.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_badge.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_border-radius.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_box-shadow.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_breakpoints.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_caret.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_clearfix.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_float.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_forms.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_gradients.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_grid.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_grid-framework.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_hover.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_image.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_list-group.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_lists.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_navbar-align.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_nav-divider.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_pagination.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_reset-text.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_resize.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_screen-reader.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_size.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_table-row.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_text-emphasis.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_text-hide.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_text-truncate.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_transition.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/mixins/_visibility.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_align.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_background.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_borders.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_clearfix.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_display.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_embed.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_flex.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_float.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_position.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_screenreaders.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_sizing.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_spacing.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_text.scss
public/assets/material-assets/assets/scss/material-dashboard/bootstrap/scss/utilities/_visibility.scss
public/assets/material-assets/assets/scss/material-dashboard/cards/_card-plain.scss
public/assets/material-assets/assets/scss/material-dashboard/cards/_card-profile.scss
public/assets/material-assets/assets/scss/material-dashboard/cards/_card-stats.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_alert.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_animations.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_breakpoints.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_chartist.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_colored-shadows.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_drawer.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_forms.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_hover.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_layout.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_navbar-colors.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_navs.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_sidebar-color.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_transparency.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_type.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_utilities.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_variables.scss
public/assets/material-assets/assets/scss/material-dashboard/mixins/_vendor-prefixes.scss
public/assets/material-assets/assets/scss/material-dashboard/plugins/_animate.scss
public/assets/material-assets/assets/scss/material-dashboard/plugins/_chartist.scss
public/assets/material-assets/assets/scss/material-dashboard/plugins/_perfect-scrollbar.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_body.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_bootstrap-material-design.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_bootstrap-material-design-base.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_brand.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_buttons.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_card.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_code.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_colors.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_colors-map.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_custom-forms.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_drawer.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_dropdown.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_forms.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_layout.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_list-group.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_menu.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_modals.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_nav.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_pagination.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_shadow.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_snackbar.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_spacing.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_state.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_tables.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_tooltip.scss
public/assets/material-assets/assets/scss/material-dashboard/variables/_type.scss
public/assets/material-assets/examples/dashboard.html
public/assets/material-assets/examples/icons.html
public/assets/material-assets/examples/map.html
public/assets/material-assets/examples/maps.html
public/assets/material-assets/examples/notifications.html
public/assets/material-assets/examples/rtl.html
public/assets/material-assets/examples/tables.html
public/assets/material-assets/examples/typography.html
public/assets/material-assets/examples/upgrade.html
public/assets/material-assets/examples/user.html
